/* variable declarations */
:root {
  --primary-color: #000000;
  --secondary-color: red;
  --text-color: #fff;
  --text-style: Open sans-serif;
}

/* add default's to weppage AKA Mark Box */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

.box {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex.column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.border {
  border: solid .5rem var(--primary-color);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.08rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.28rem;
}

h6 {
  font-size: 1.12rem;
}

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
}

li {
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  width: auto;
  height: auto;
  padding: .2rem 1rem;
  border-radius: .7rem;
  border: .1rem solid grey;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

/* end default style to webpage AKA Mark Box */

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 0px) {

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.col-2, .col-3, .col-5, .col-7 {
  width: 100%;
  text-align: center;
}

.col-2 {
  text-align: center;
  width: 100%;
}

.col-3 {
  width: 100%;
  text-align: center;
}

.col-4 {
  width: 100%;
}

.col-5 {
  width: 100%;
  text-align: center;
}

.col-7 {
  width: 100%;
}

h2 {
  font-size: 4rem;
}

h3, h4, h5 {
  text-align: center;
}

h3 {
  font-size: 3rem;
  margin: 3rem 0;
  color: var(--secondary-color);
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

h5 {
  font-size: 2rem;
}

/* apply styles to header */
header {
  background-color: var(--primary-color);
}

header h1 {
  background-color: var(--primary-color);
  margin: 6rem 0;
}

/*apply styles to the nav bar and links*/

header nav {
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  font-size: 4rem;
}

header a:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

header nav ul {
  font-style: var(--text-style);
  list-style-type: none;
}

header nav ul li a {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: var(--text-style);
  font-size: 3rem;
}

hr {
  margin: 6rem 0;
}

/* style the "about me" section */

.title {
  font-family: var(--text-style);
  text-align: center;
  margin-bottom: 6rem;
}

p {
  text-align: center;
  color: var(--text-color);
  font-size: 1.75rem;
  margin: .5rem 0;
}

#bio {
  margin: 3rem 0;
}

span {
  color: var(--secondary-color);
  font-size: 2rem;
}

/* style the portfolio section */

img {
  width: 100%;
  margin: auto 0;
  margin-bottom: 2rem;
}

/* style the contact info section */

#contact-info a {
  text-decoration: none;
  font-family: var(--text-style);
  color: var(--text-color);
  margin: 1rem 0;
  font-size: 2rem;
}

#contact-info a:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

/* style the footer */

footer h6 {
  color: var(--text-color);
  font-family: var(--text-style);
  font-size: 2rem;
}

footer .col-10 {
  text-align: center;
}

#icon-div {
  justify-content: center;
  padding: 1rem 0;
}

.project {
  text-align: center;
}

.form {
  flex-direction: column;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#form-btn-div {
  justify-content: center;
}

#form-btn {
  font-size: 2rem;
  align-items: center;
  width: 12.8rem;
}

#resume-link-div {
  justify-content: center;
}

#resume-link {
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 3rem;
  font-size: 2rem;
}

#skills-div {
  justify-content: center;
}

ul {
  list-style-type: none;
}

.skill {
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.error-text {
  color: var(--secondary-color);
  font-size: 3rem;
}

.navActive {
  color: var(--secondary-color);
}


#back-card-body {
  width: 100%;
  margin-top: .5rem;
}

#num {
  font-size: 4rem;
  border: black .3rem solid;
  border-radius: 10rem;
  color: black;
  background: repeating-linear-gradient(
  90deg, white 3rem, blue, white, blue, white);
  font-weight: bold;
  padding: .2rem;
}

#back-header {
  justify-content: space-between;
  padding: 1rem;
}

#stats-div {
  border: black .3rem solid;
  width: 95%;
  margin: .5rem auto;
}

#stats-box {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
 }

#stats-row-titles {
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
 }

#stats-row-nums {
    flex-direction: column;
    width: 50%;
    border-left:black .1rem solid;
 }

 #git-stats-header {
   border-bottom: black .1rem solid;
 }

 .stats {
   width: 100%;
 }

.project {
  position: relative;
}

.project-content {
  background-color: var(--text-color);
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(#22c1c3,#fdbb2d);
  display: flex;
  align-items: center;
}

.project-links {
  text-decoration: none;
  color: blue;
}

.project_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
  background-color: var(--text-color);
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(#22c1c3,#fdbb2d);
  display: flex;
}

.project:hover .project_description {
  visibility: visible;
  opacity: 1;
}

.project-name {
  margin-bottom: 3rem;
  font-size: 3rem;
}

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .project-title {
    font-size: 2.5rem;
  }

  .project-links {
    font-size: 2rem;
  }
 
  .project-name {
    margin-bottom: 4rem;
    font-size: 4rem;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

#nav-links {
  justify-content: space-between;
}
  .col-2 {
    width: 20%;
}

.stats {
  width: 100%;
}

.project-title {
  font-size: 3rem;
}

.project-links {
  font-size: 2.5rem;
}

.project-name {
  margin-bottom: 5rem;
  font-size: 5rem;
}

#contact-form {
  width: 61.5rem;
  height: 35.4rem;
  margin: 0 auto;
}

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #selfie {
      width: 50%;
      margin: 0 auto;
  }

  #name {
      width: 100%;
  }

  .col-3 {
      width: 30%;
  }

  .col-4 {
    width: 40%;
}

  #projects {
    justify-content: space-between;
  }

  #contact-info {
      width: 100%;
  }
  .contact-row {
     align-items: center;
     justify-content: space-evenly;
  }

  #contact {
      width: 20%;
  }

  #number {
      width: 15%;
  }

  #email {
      width: 30%;
  }
  
  #github {
      width: 12%;
  }

  #linkedin {
      width: 12%
  }

  .project-title {
    font-size: 2rem;
  }
  
  .project-links {
    font-size: 1.5rem;
}
  
  .project-name {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header a {
      font-size: 6rem;
  }

  header nav ul li a {
      font-size: 4rem;
  }

  p {
      font-size: 2.5rem;
  }

  .col-5 {
      width: 45%;
      margin: 0 auto;
  }

  .picture {
      width: 45rem;
  }

  #weather-dash {
      width: 45rem;
  }

  #movie-date {
      height: 25rem;
  }

  #profile-gen {
      width: 45rem;
      height: 30rem;
  }

  #contact-info a {
      font-size: 3rem;
  }

  #contact {
      margin: 0;
      width: 20%;
  }

  #number {
      width: 17%;
  }

  #email {
      width: 32%;
  }
  
  #github {
      width: 10%;
  }

  #linkedin {
      width: 12%
  }

  footer .col-10 {
      font-size: 3rem;
  }

.stats {
  font-size: 1.75rem;
}

.project-title {
  font-size: 2.25rem;
}

.project-links {
  font-size: 2rem;
}

.project-name {
  margin-bottom: 4rem;
  font-size: 4rem;
}

}
